## Problem Set 3 (Part 2 of 2): Interacting with the Alpha Vantage API using Python libraries

In Part 2 of Problem Set 3 we will be using the data retrived from the Alpha Vantage API and creating an optimized portfolio of stocks based on Modern Portfolio Theory. The PyPortfolioOpt package will be used to optimize a portfolio of stocks based maximizing the Sharpe Ratio. This exercise is an example of how a robo-advisor would use data APIs to continuously monitor and adjusts stock portfolios. 

This part of the exercise demonstrates:

1. Setting up a programming environment to work with APIs
2. Data preprocessing to create compatible datasets
3. Using a quantititive popular portfolio optimization library to estimate risks and weights

Documentation links:
<br />Alpha Vantage: https://www.alphavantage.co/documentation/
<br />Alpha Vantage Python library: https://alpha-vantage.readthedocs.io/en/latest/#
<br />Pandas DataFrame: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
<br />PyPortfolioOpt: https://pyportfolioopt.readthedocs.io/en/latest/index.html

In [13]:
api_key = "1XE2UKG2DV1AFGG9"

In [14]:
import pandas as pd
import requests
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt

# PyPortfolioOpt libraries
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [15]:
ts = TimeSeries(key=api_key,output_format='pandas')

In [16]:
fb_data, fb_meta_data = ts.get_daily(symbol='FB', outputsize='full')
msft_data, msft_meta_data = ts.get_daily(symbol='MSFT', outputsize='full')
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

Isolate "close" column of data for each security:

In [19]:
fb_clean = fb_data['4. close']
msft_clean = msft_data['4. close']
aapl_clean = aapl_data['4. close']
amzn_clean = amzn_data['4. close']

Create new dataframe with tickers as columns:

In [20]:
df = pd.DataFrame(columns=['fb', 'msft', 'aapl', 'amzn'])

In [26]:
df

                 fb     msft     aapl     amzn
date
2012-05-18   38.232   38.232   38.232   38.232
2012-05-21   34.030   34.030   34.030   34.030
2012-05-22   31.000   31.000   31.000   31.000
2012-05-23   32.000   32.000   32.000   32.000
2012-05-24   33.030   33.030   33.030   33.030
2012-05-25   31.910   31.910   31.910   31.910
2012-05-29   28.840   28.840   28.840   28.840
2012-05-30   28.190   28.190   28.190   28.190
2012-05-31   29.600   29.600   29.600   29.600
2012-06-01   27.720   27.720   27.720   27.720
2012-06-04   26.900   26.900   26.900   26.900
2012-06-05   25.869   25.869   25.869   25.869
2012-06-06   26.810   26.810   26.810   26.810
2012-06-07   26.310   26.310   26.310   26.310
2012-06-08   27.100   27.100   27.100   27.100
2012-06-11   27.005   27.005   27.005   27.005
2012-06-12   27.400   27.400   27.400   27.400
2012-06-13   27.270   27.270   27.270   27.270
2012-06-14   28.290   28.290   28.290   28.290
2012-06-15   30.014   30.014   30.014   30.014
2012-06-18   31.410   31.410   31.410   31.410
2012-06-19   31.911   31.911   31.911   31.911
2012-06-20   31.600   31.600   31.600   31.600
2012-06-21   31.840   31.840   31.840   31.840
2012-06-22   33.050   33.050   33.050   33.050
2012-06-25   32.060   32.060   32.060   32.060
2012-06-26   33.100   33.100   33.100   33.100
2012-06-27   32.230   32.230   32.230   32.230
2012-06-28   31.360   31.360   31.360   31.360
2012-06-29   31.095   31.095   31.095   31.095
...             ...      ...      ...      ...
2015-12-08  106.490  106.490  106.490  106.490
2015-12-09  104.600  104.600  104.600  104.600
2015-12-10  105.420  105.420  105.420  105.420
2015-12-11  102.120  102.120  102.120  102.120
2015-12-14  104.660  104.660  104.660  104.660
2015-12-15  104.550  104.550  104.550  104.550
2015-12-16  106.790  106.790  106.790  106.790
2015-12-17  106.220  106.220  106.220  106.220
2015-12-18  104.040  104.040  104.040  104.040
2015-12-21  104.770  104.770  104.770  104.770
2015-12-22  105.510  105.510  105.510  105.510
2015-12-23  104.630  104.630  104.630  104.630
2015-12-24  105.020  105.020  105.020  105.020
2015-12-28  105.930  105.930  105.930  105.930
2015-12-29  107.260  107.260  107.260  107.260
2015-12-30  106.220  106.220  106.220  106.220
2015-12-31  104.660  104.660  104.660  104.660
2016-01-04  102.220  102.220  102.220  102.220
2016-01-05  102.730  102.730  102.730  102.730
2016-01-06  102.970  102.970  102.970  102.970
2016-01-07   97.920   97.920   97.920   97.920
2016-01-08   97.330   97.330   97.330   97.330
2016-01-11   97.510   97.510   97.510   97.510
2016-01-12   99.370   99.370   99.370   99.370
2016-01-13   95.440   95.440   95.440   95.440
2016-01-14   98.370   98.370   98.370   98.370
2016-01-15   94.970   94.970   94.970   94.970
2016-01-19   95.260   95.260   95.260   95.260
2016-01-20   94.350   94.350   94.350   94.350
2016-01-21   94.160   94.160   94.160   94.160

[924 rows x 4 columns]

Place data into new dataframe:

In [27]:
df['fb'] = fb_clean
df['msft'] = fb_clean
df['aapl'] = fb_clean
df['amzn'] = fb_clean
print(df)

                 fb     msft     aapl     amzn
date
2012-05-18   38.232   38.232   38.232   38.232
2012-05-21   34.030   34.030   34.030   34.030
2012-05-22   31.000   31.000   31.000   31.000
2012-05-23   32.000   32.000   32.000   32.000
2012-05-24   33.030   33.030   33.030   33.030
2012-05-25   31.910   31.910   31.910   31.910
2012-05-29   28.840   28.840   28.840   28.840
2012-05-30   28.190   28.190   28.190   28.190
2012-05-31   29.600   29.600   29.600   29.600
2012-06-01   27.720   27.720   27.720   27.720
2012-06-04   26.900   26.900   26.900   26.900
2012-06-05   25.869   25.869   25.869   25.869
2012-06-06   26.810   26.810   26.810   26.810
2012-06-07   26.310   26.310   26.310   26.310
2012-06-08   27.100   27.100   27.100   27.100
2012-06-11   27.005   27.005   27.005   27.005
2012-06-12   27.400   27.400   27.400   27.400
2012-06-13   27.270   27.270   27.270   27.270
2012-06-14   28.290   28.290   28.290   28.290
2012-06-15   30.014   30.014   30.014   30.014
2012-06-18   31.410   31.410   31.410   31.410
2012-06-19   31.911   31.911   31.911   31.911
2012-06-20   31.600   31.600   31.600   31.600
2012-06-21   31.840   31.840   31.840   31.840
2012-06-22   33.050   33.050   33.050   33.050
2012-06-25   32.060   32.060   32.060   32.060
2012-06-26   33.100   33.100   33.100   33.100
2012-06-27   32.230   32.230   32.230   32.230
2012-06-28   31.360   31.360   31.360   31.360
2012-06-29   31.095   31.095   31.095   31.095
...             ...      ...      ...      ...
2015-12-08  106.490  106.490  106.490  106.490
2015-12-09  104.600  104.600  104.600  104.600
2015-12-10  105.420  105.420  105.420  105.420
2015-12-11  102.120  102.120  102.120  102.120
2015-12-14  104.660  104.660  104.660  104.660
2015-12-15  104.550  104.550  104.550  104.550
2015-12-16  106.790  106.790  106.790  106.790
2015-12-17  106.220  106.220  106.220  106.220
2015-12-18  104.040  104.040  104.040  104.040
2015-12-21  104.770  104.770  104.770  104.770
2015-12-22  105.510  105.510  105.510  105.510
2015-12-23  104.630  104.630  104.630  104.630
2015-12-24  105.020  105.020  105.020  105.020
2015-12-28  105.930  105.930  105.930  105.930
2015-12-29  107.260  107.260  107.260  107.260
2015-12-30  106.220  106.220  106.220  106.220
2015-12-31  104.660  104.660  104.660  104.660
2016-01-04  102.220  102.220  102.220  102.220
2016-01-05  102.730  102.730  102.730  102.730
2016-01-06  102.970  102.970  102.970  102.970
2016-01-07   97.920   97.920   97.920   97.920
2016-01-08   97.330   97.330   97.330   97.330
2016-01-11   97.510   97.510   97.510   97.510
2016-01-12   99.370   99.370   99.370   99.370
2016-01-13   95.440   95.440   95.440   95.440
2016-01-14   98.370   98.370   98.370   98.370
2016-01-15   94.970   94.970   94.970   94.970
2016-01-19   95.260   95.260   95.260   95.260
2016-01-20   94.350   94.350   94.350   94.350
2016-01-21   94.160   94.160   94.160   94.160

[924 rows x 4 columns]

Take only the earlist half of observations:

In [28]:
df = df[0:924]

In [29]:
print(df)

                 fb     msft     aapl     amzn
date
2012-05-18   38.232   38.232   38.232   38.232
2012-05-21   34.030   34.030   34.030   34.030
2012-05-22   31.000   31.000   31.000   31.000
2012-05-23   32.000   32.000   32.000   32.000
2012-05-24   33.030   33.030   33.030   33.030
2012-05-25   31.910   31.910   31.910   31.910
2012-05-29   28.840   28.840   28.840   28.840
2012-05-30   28.190   28.190   28.190   28.190
2012-05-31   29.600   29.600   29.600   29.600
2012-06-01   27.720   27.720   27.720   27.720
2012-06-04   26.900   26.900   26.900   26.900
2012-06-05   25.869   25.869   25.869   25.869
2012-06-06   26.810   26.810   26.810   26.810
2012-06-07   26.310   26.310   26.310   26.310
2012-06-08   27.100   27.100   27.100   27.100
2012-06-11   27.005   27.005   27.005   27.005
2012-06-12   27.400   27.400   27.400   27.400
2012-06-13   27.270   27.270   27.270   27.270
2012-06-14   28.290   28.290   28.290   28.290
2012-06-15   30.014   30.014   30.014   30.014
2012-06-18   31.410   31.410   31.410   31.410
2012-06-19   31.911   31.911   31.911   31.911
2012-06-20   31.600   31.600   31.600   31.600
2012-06-21   31.840   31.840   31.840   31.840
2012-06-22   33.050   33.050   33.050   33.050
2012-06-25   32.060   32.060   32.060   32.060
2012-06-26   33.100   33.100   33.100   33.100
2012-06-27   32.230   32.230   32.230   32.230
2012-06-28   31.360   31.360   31.360   31.360
2012-06-29   31.095   31.095   31.095   31.095
...             ...      ...      ...      ...
2015-12-08  106.490  106.490  106.490  106.490
2015-12-09  104.600  104.600  104.600  104.600
2015-12-10  105.420  105.420  105.420  105.420
2015-12-11  102.120  102.120  102.120  102.120
2015-12-14  104.660  104.660  104.660  104.660
2015-12-15  104.550  104.550  104.550  104.550
2015-12-16  106.790  106.790  106.790  106.790
2015-12-17  106.220  106.220  106.220  106.220
2015-12-18  104.040  104.040  104.040  104.040
2015-12-21  104.770  104.770  104.770  104.770
2015-12-22  105.510  105.510  105.510  105.510
2015-12-23  104.630  104.630  104.630  104.630
2015-12-24  105.020  105.020  105.020  105.020
2015-12-28  105.930  105.930  105.930  105.930
2015-12-29  107.260  107.260  107.260  107.260
2015-12-30  106.220  106.220  106.220  106.220
2015-12-31  104.660  104.660  104.660  104.660
2016-01-04  102.220  102.220  102.220  102.220
2016-01-05  102.730  102.730  102.730  102.730
2016-01-06  102.970  102.970  102.970  102.970
2016-01-07   97.920   97.920   97.920   97.920
2016-01-08   97.330   97.330   97.330   97.330
2016-01-11   97.510   97.510   97.510   97.510
2016-01-12   99.370   99.370   99.370   99.370
2016-01-13   95.440   95.440   95.440   95.440
2016-01-14   98.370   98.370   98.370   98.370
2016-01-15   94.970   94.970   94.970   94.970
2016-01-19   95.260   95.260   95.260   95.260
2016-01-20   94.350   94.350   94.350   94.350
2016-01-21   94.160   94.160   94.160   94.160

[924 rows x 4 columns]

Calculate expected returns:

In [30]:
mu = expected_returns.mean_historical_return(df)

Calculate sample covariance matrix:

In [32]:
S = risk_models.sample_cov(df)

Optimize the weights to maximzie the Sharpe Ratio:

In [33]:
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe()
ef.portfolio_performance(verbose=True)

Expected annual return: 33.5%
Annual volatility: 42.8%
Sharpe Ratio: 0.74

(0.3354098691329444, 0.42809269212937484, 0.7367793819699769)

In [34]:
print(weights)

{'fb': 0.25, 'msft': 0.25, 'aapl': 0.25, 'amzn': 0.25}

Using optimized weights, compute portfolio accolation:

In [35]:
latest_prices = get_latest_prices(df)
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=1000000)
allocation, leftover = da.greedy_portfolio()
print(allocation)

0 out of 4 tickers were removed
{'fb': 2655, 'msft': 2655, 'aapl': 2655, 'amzn': 2655}

To update portfolio, call the API again for latest data and run optimization model again:

In [39]:
fb_data, fb_meta_data = ts.get_daily(symbol='FB', outputsize='full')
msft_data, msft_meta_data = ts.get_daily(symbol='MSFT', outputsize='full')
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

In [40]:
df = pd.DataFrame(columns=['fb', 'msft', 'aapl', 'amzn'])

In [42]:
fb_clean = fb_data['4. close']
msft_clean = msft_data['4. close']
aapl_clean = aapl_data['4. close']
amzn_clean = amzn_data['4. close']

In [43]:
df['fb'] = fb_clean
df['msft'] = msft_clean
df['aapl'] = aapl_clean
df['amzn'] = amzn_clean
print(df)

                 fb     msft     aapl      amzn
date
2012-05-18   38.232   29.270  530.380   213.850
2012-05-21   34.030   29.750  561.280   218.110
2012-05-22   31.000   29.760  556.970   215.330
2012-05-23   32.000   29.110  570.560   217.280
2012-05-24   33.030   29.070  565.320   215.240
2012-05-25   31.910   29.060  562.290   212.890
2012-05-29   28.840   29.560  572.270   214.750
2012-05-30   28.190   29.340  579.170   209.230
2012-05-31   29.600   29.190  577.730   212.910
2012-06-01   27.720   28.450  560.990   208.220
2012-06-04   26.900   28.550  564.290   214.570
2012-06-05   25.869   28.505  562.830   213.210
2012-06-06   26.810   29.350  571.460   217.640
2012-06-07   26.310   29.230  571.720   218.800
2012-06-08   27.100   29.650  580.320   218.480
2012-06-11   27.005   28.895  571.170   216.500
2012-06-12   27.400   29.290  576.160   216.420
2012-06-13   27.270   29.130  572.160   214.730
2012-06-14   28.290   29.340  571.530   214.450
2012-06-15   30.014   30.020  574.130   218.350
2012-06-18   31.410   29.840  585.780   222.660
2012-06-19   31.911   30.700  587.410   224.030
2012-06-20   31.600   30.930  585.741   223.020
2012-06-21   31.840   30.135  577.670   220.575
2012-06-22   33.050   30.700  582.100   222.160
2012-06-25   32.060   29.865  570.765   220.070
2012-06-26   33.100   30.020  572.025   225.610
2012-06-27   32.230   30.170  574.500   225.620
2012-06-28   31.360   29.910  569.050   221.310
2012-06-29   31.095   30.590  584.000   228.350
...             ...      ...      ...       ...
2019-08-14  179.710  133.980  202.750  1762.960
2019-08-15  182.590  133.680  201.740  1776.120
2019-08-16  183.700  136.130  206.500  1792.570
2019-08-19  186.170  138.410  210.350  1816.120
2019-08-20  183.810  137.260  210.360  1801.380
2019-08-21  183.550  138.790  212.640  1823.540
2019-08-22  182.040  137.780  212.460  1804.660
2019-08-23  177.750  133.390  202.640  1749.620
2019-08-26  180.360  135.450  206.490  1768.870
2019-08-27  181.300  135.740  204.160  1761.830
2019-08-28  181.760  135.560  205.530  1764.250
2019-08-29  185.570  138.120  209.010  1786.400
2019-08-30  185.670  137.860  208.740  1776.290
2019-09-03  182.390  136.040  205.700  1789.840
2019-09-04  187.140  137.630  209.190  1800.620
2019-09-05  190.900  140.050  213.280  1840.720
2019-09-06  187.490  139.100  213.260  1833.510
2019-09-09  188.760  137.520  214.170  1831.350
2019-09-10  186.170  136.080  216.700  1820.550
2019-09-11  188.490  136.120  223.590  1822.990
2019-09-12  187.470  137.520  223.090  1843.550
2019-09-13  187.190  137.320  218.750  1839.340
2019-09-16  186.220  136.330  219.900  1807.840
2019-09-17  188.080  137.390  220.700  1822.550
2019-09-18  188.140  138.520  222.770  1817.460
2019-09-19  190.140  141.070  220.960  1821.500
2019-09-20  189.930  139.440  217.730  1794.160
2019-09-23  186.820  139.140  218.720  1785.300
2019-09-24  181.280  137.380  217.680  1741.610
2019-09-25  182.800  139.360  221.030  1768.330

[1850 rows x 4 columns]

In [44]:
mu = expected_returns.mean_historical_return(df)
S = risk_models.sample_cov(df)
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe()
ef.portfolio_performance(verbose=True)
print(weights)

Expected annual return: 28.5%
Annual volatility: 22.3%
Sharpe Ratio: 1.19
{'fb': 0.14110788084764556, 'msft': 0.42339738777063635, 'aapl': 0.0, 'amzn': 0.43549473138171824}

In [45]:
latest_prices = get_latest_prices(df)
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=1000000)
allocation, leftover = da.greedy_portfolio()
print(allocation)

1 out of 4 tickers were removed
{'amzn': 246, 'msft': 3038, 'fb': 772}